<!-- <div class="bg-slate-300 h-full">
  <div class="flex justify-around items-center w-full py-5">
      <button class="w-8" (click)="back()">
          <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5"></path>
          </svg>
      </button>
      <div class="text-2xl font-serif">Detail</div>
      <button class=""></button>
  </div>
  <div
    class="w-full mx-auto relative overflow-hidden z-10 bg-white p-8"
  >
    <form method="" class="space-y-2">
      <div class="">
        <label for="" class="block text-sm font-medium text-gray-600">Titre</label>
        <input 
          type="text" name="" id="" class="mt-1 p-2 w-full border-2 rounded-md"
          name="first"
          [(ngModel)]="history.titre"
        >
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-600" for="email"
          >Choisir votre langue</label
        >
        <select class="mt-1 p-2 w-full border rounded-md" name="" id=""
          [(ngModel)]="lang"
          [ngModelOptions]="{standalone: true}"
        >
          <option value="fr-FR">Français</option>
          <option value="en-US">Anglais</option>
        </select>
      </div>
      <div class="mb-4">
        <label class="block font-bold text-lg text-gray-600" for="bio"
          >Entrer un text</label
        >
        <textarea
          class="mt-1 p-2 w-full border-2 rounded-md"
          rows="4"
          cols="5"
          name="bio"
          id="bio"
          [(ngModel)]="history.text"
          [ngModelOptions]="{standalone: true}"
        ></textarea>
      </div>
      <div class="flex justify-center space-x-5">
        <button class="cursor-pointer transition-all bg-blue-500 text-white px-6 py-2 rounded-lg
        border-blue-600
          border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
          active:border-b-[2px] active:brightness-90 active:translate-y-[2px]"
          (click)="toggleSpeech()"
        > 
          <img class="w-8 text-white" [src]="isSpeaking ? 'assets/pause.svg':'assets/play.svg'" alt="">
        </button>
        <button class="cursor-pointer transition-all bg-blue-500 text-white px-6 py-2 rounded-lg
        border-blue-600
          border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
          active:border-b-[2px] active:brightness-90 active:translate-y-[2px]"
          (click)="cancelSpeech()"
        >
          <img class="w-8 text-white" src="assets/stop.svg" alt="">
        </button>
      </div>
    </form>
    <audio controls class="play text-red-600 w-full h-10 mt-5" >
      <source [src]="audioUrl" />
    </audio>
  </div>
  <div class="">

  </div>
</div> -->

<div class="bg-slate-300 h-screen">
  <div class="flex justify-around items-center w-full py-5">
    <button class="w-8" (click)="back()">
        <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5"></path>
        </svg>
    </button>
    <div class="text-2xl font-serif">Detail</div>
    <button class=""></button>
  </div>
  <div class="flex justify-center mt-10">
    <div class="container">
      <input type="text" class="" placeholder="Titre"
        [(ngModel)]="history.titre"
        [ngModelOptions]="{standalone: true}"
      >
      <div class="wrapper">
        <div class="text-input">
          <textarea spellcheck="false" class="from-text" placeholder="Enter text"
            [(ngModel)]="history.text"
            [ngModelOptions]="{standalone: true}"
          ></textarea>
          <textarea spellcheck="false" readonly disabled class="to-text" placeholder="Translation"
            [(ngModel)]="traduction"
            [ngModelOptions]="{standalone: true}"
          ></textarea>
        </div>
        <ul class="controls">
          <li class="row from">
            <div class="icons">
              <div class="" (click)="toggleSpeech(history.text, langFrom)">
                <svg fill="none" class="w-" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.114 5.636a9 9 0 010 12.728M16.463 8.288a5.25 5.25 0 010 7.424M6.75 8.25l4.72-4.72a.75.75 0 011.28.53v15.88a.75.75 0 01-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.507-1.938-1.354A9.01 9.01 0 012.25 12c0-.83.112-1.633.322-2.396C2.806 8.756 3.63 8.25 4.51 8.25H6.75z"></path>
                </svg>
              </div>
            </div>
            <select
              [(ngModel)]="langFrom"
              [ngModelOptions]="{standalone: true}"
            >
              <option *ngFor="let item of countriesArray" [value]="item.code">{{item.nom}}</option>
            </select>
          </li>
          <li class="exchange w-5 text-black" (click)="exchange()">
            <svg fill="none" stroke="currentColor" class="text-red-600" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21L3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5"></path>
            </svg>
          </li>
          <li class="row to">
            <select
            [(ngModel)]="langTo"
            [ngModelOptions]="{standalone: true}"
            >
              <option *ngFor="let item of countriesArray" [value]="item.code">{{item.nom}}</option>
            </select>
            <div class="icons">
              <div class="" (click)="toggleSpeech(traduction, langFrom)">
                <svg fill="none" class="w-" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.114 5.636a9 9 0 010 12.728M16.463 8.288a5.25 5.25 0 010 7.424M6.75 8.25l4.72-4.72a.75.75 0 011.28.53v15.88a.75.75 0 01-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.507-1.938-1.354A9.01 9.01 0 012.25 12c0-.83.112-1.633.322-2.396C2.806 8.756 3.63 8.25 4.51 8.25H6.75z"></path>
                </svg>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <button class="bg-[#5372F0]" (click)="translate()">Translate Text</button>
    </div>
  </div>
</div>
