<div class="h-screen flex items-center justify-center bg-slate-300">
    <div class="form-container">
        <p class="title">Bienvenue</p>
        <form class="form" [formGroup]="form" (ngSubmit)="login()">
          <div class="text-xs text-red-500 font-semibold">{{message}}</div>
          <input type="tel" class="input" placeholder="Téléphone" formControlName="telephone">
          <div class="text-xs text-red-500 font-semibold" *ngIf="form.get('telephone')?.hasError('required') && form.get('telephone')?.touched">
            Ce champ est obligatoire.
          </div>
          <div class="text-xs text-red-500 font-semibold" *ngIf="form.get('telephone')?.hasError('minlength') && form.get('telephone')?.touched">
            Le numéro de téléphone doit avoir au moins une longueur minimale de 9 caractères.
          </div>
          <input type="password" class="input" placeholder="Password" formControlName="password">
          <div class="text-xs text-red-500 font-semibold" *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched">
            Ce champ est obligatoire.
          </div>
          <div class="text-xs text-red-500 font-semibold" *ngIf="form.get('password')?.hasError('invalidPassword') && form.get('password')?.touched">
            Le mot de passe doit avoir au moins une lettre et une longueur minimale de 8 caractères.
          </div>
          <p class="page-link">
            <span class="page-link-label">Mot de passe oublié?</span>
          </p>
          <button type="submit" [disabled]="!form.valid" class="form-btn flex items-center justify-center space-x-3" [ngClass]="form.valid ? '':'opacity-30'">
            <mat-spinner diameter="030" *ngIf="isSubmitting"></mat-spinner>
            <span class="">Se connecter</span>
          </button>
        </form>
        <p class="sign-up-label">
          Vous n'avez pas de compte?<span class="sign-up-link"  routerLink="/inscription">S'inscrire</span>
        </p>
        <div class="buttons-container">
          <div class="apple-login-button">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" class="apple-icon" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
              <path d="M747.4 535.7c-.4-68.2 30.5-119.6 92.9-157.5-34.9-50-87.7-77.5-157.3-82.8-65.9-5.2-138 38.4-164.4 38.4-27.9 0-91.7-36.6-141.9-36.6C273.1 298.8 163 379.8 163 544.6c0 48.7 8.9 99 26.7 150.8 23.8 68.2 109.6 235.3 199.1 232.6 46.8-1.1 79.9-33.2 140.8-33.2 59.1 0 89.7 33.2 141.9 33.2 90.3-1.3 167.9-153.2 190.5-221.6-121.1-57.1-114.6-167.2-114.6-170.7zm-105.1-305c50.7-60.2 46.1-115 44.6-134.7-44.8 2.6-96.6 30.5-126.1 64.8-32.5 36.8-51.6 82.3-47.5 133.6 48.4 3.7 92.6-21.2 129-63.7z"></path>
            </svg>
            <span>Se connecter avec AYOBA</span>
          </div>
        </div>
      </div>
</div>