<!-- <div class="h-screen flex justify-center items-center">
    <div class="form-container">
        <form class="form">
          <div class="form-group">
            <label for="textarea">Entrer le text</label>
            <textarea name="textarea" id="textarea" rows="20" cols="50" required="" [(ngModel)]="text">          </textarea>
          </div>
          <div class="grid grid-cols-2">
            <button class="form-submit-btn" type="submit" (click)="parle()">Ecouter</button>
            <button class="form-submit-btn" type="submit" (click)="pause()">pause</button>
            <button class="form-submit-btn" type="submit" (click)="play()">play</button>
            <button class="form-submit-btn" type="submit" (click)="stop()">stop</button>
            <button class="form-submit-btn" type="submit" >Enregister</button>
            <button class="form-submit-btn" type="submit" >Pubier</button>
          </div>
        </form>
      </div>
</div> -->

<div class="">
  <div
    class="max-w-md mx-auto relative overflow-hidden z-10 bg-white p-8 rounded-lg shadow-md before:w-24 before:h-24 before:absolute before:bg-purple-500 before:rounded-full before:-z-10 before:blur-2xl after:w-32 after:h-32 after:absolute after:bg-sky-400 after:rounded-full after:-z-10 after:blur-xl after:top-24 after:-right-12"
  >
    <h2 class="text-2xl text-sky-900 font-bold mb-6">Ecouter votre texte</h2>

    <form method="post" action="#">
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-600" for="email"
          >Choisir votre langue</label
        >
        <!-- <input
          class="mt-1 p-2 w-full border rounded-md"
          name="email"
          id="email"
          type="email"
        /> -->
        <select class="mt-1 p-2 w-full border rounded-md" name="" id="">
          <option value="fr-FR">Français</option>
          <option value="en-EN">Anglais</option>
        </select>
      </div>

      <div class="mb-4">
        <label class="block font-bold text-lg text-gray-600" for="bio"
          >Entrer un text</label
        >
        <textarea
          class="mt-1 p-2 w-full border rounded-md"
          rows="4"
          cols="5"
          name="bio"
          id="bio"
        ></textarea>
      </div>

      <div class="flex justify-center space-x-5">
        <!-- <button
          class="[background:linear-gradient(144deg,#af40ff,#5b42f3_50%,#00ddeb)] text-white px-4 py-2 font-bold rounded-md hover:opacity-80"
          type="submit"
        >
          Update Profile
        </button> -->
        <button
          class="overflow-hidden w-32 p-2 h-12 bg-black text-white border-none rounded-md text-xl font-bold cursor-pointer relative z-10 group"
        >
          Jouer
          <span
            class="absolute w-36 h-32 -top-8 -left-2 bg-white rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-500 duration-1000 origin-left"
          ></span>
          <span
            class="absolute w-36 h-32 -top-8 -left-2 bg-purple-400 rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-700 duration-700 origin-left"
          ></span>
          <span
            class="absolute w-36 h-32 -top-8 -left-2 bg-purple-600 rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-1000 duration-500 origin-left"
          ></span>
          <span
            class="group-hover:opacity-100 group-hover:duration-1000 duration-100 opacity-0 absolute -top-1 left-6 z-10"
            ><img class="w-14" src="assets/Play.svg" alt=""></span
          >
        </button>
        <button
          class="overflow-hidden w-32 p-2 h-12 bg-black text-white border-none rounded-md text-xl font-bold cursor-pointer relative z-10 group"
        >
          Arrêter
          <span
            class="absolute w-36 h-32 -top-8 -left-2 bg-white rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-500 duration-1000 origin-left"
          ></span>
          <span
            class="absolute w-36 h-32 -top-8 -left-2 bg-purple-400 rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-700 duration-700 origin-left"
          ></span>
          <span
            class="absolute w-36 h-32 -top-8 -left-2 bg-purple-600 rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-1000 duration-500 origin-left"
          ></span>
          <span
            class="group-hover:opacity-100 group-hover:duration-1000 duration-100 opacity-0 absolute -top-1 left-6 z-10"
            ><img class="w-14" src="assets/Play.svg" alt=""></span
          >
        </button>
        <button
          class="overflow-hidden w-32 p-2 h-12 bg-black text-white border-none rounded-md text-xl font-bold cursor-pointer relative z-10 group"
        >
          Publier
          <span
            class="absolute w-36 h-32 -top-8 -left-2 bg-white rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-500 duration-1000 origin-left"
          ></span>
          <span
            class="absolute w-36 h-32 -top-8 -left-2 bg-purple-400 rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-700 duration-700 origin-left"
          ></span>
          <span
            class="absolute w-36 h-32 -top-8 -left-2 bg-purple-600 rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-1000 duration-500 origin-left"
          ></span>
          <span
            class="group-hover:opacity-100 group-hover:duration-1000 duration-100 opacity-0 absolute -top-1 left-6 z-10"
            ><img class="w-14" src="assets/Play.svg" alt=""></span
          >
        </button>
      </div>
    </form>
  </div>
</div>
