<!-- <div class="bg-slate-300 h-screen">
  <app-header [home]="true" class=""></app-header>
  <div class=" flex px-2.5 items-center">
    <div
      class="w-full mt-10 mx-auto relative overflow-hidden z-10 bg-white p-8 rounded-lg shadow-md before:w-24 before:h-24 before:absolute before:bg-purple-500 before:rounded-full before:-z-10 before:blur-2xl after:w-32 after:h-32 after:absolute after:bg-sky-400 after:rounded-full after:-z-10 after:blur-xl after:top-24 after:-right-12"
    >
      <h2 class="text-2xl text-sky-900 font-bold mb-6">Ecouter votre texte</h2>

      <form method="post" action="#" [formGroup]="form" (ngSubmit)="save()">
        <div class="text-xs text-red-500 font-semibold">{{message}}</div>
        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-600" for="email"
            >Choisir votre langue</label
          >
          <select class="mt-1 p-2 w-full border rounded-md" name="" id=""
            [(ngModel)]="lang"
            [ngModelOptions]="{standalone: true}"
          >
            <option *ngFor="let item of voices" [value]="item.lang">{{item.name}}</option>
          </select>
        </div>
        <div class="">
          <label for="" class="block text-sm font-medium text-gray-600">Titre</label>
          <input 
            type="text" name="" id="" class="mt-1 p-2 w-full border rounded-md"
            formControlName="titre"
          >
        </div>
        <div class="mb-4">
          <label class="block font-bold text-lg text-gray-600" for="bio"
            >Entrer un text</label
          >
          <textarea
            class="mt-1 p-2 w-full border rounded-md"
            rows="4"
            cols="5"
            name="bio"
            id="bio"
            [(ngModel)]="text"
            [ngModelOptions]="{standalone: true}"
          ></textarea>
        </div>

        <div class="flex justify-center space-x-5">
          <button
            class="cursor-pointer flex items-center fill-lime-300 bg-lime-700 hover:bg-lime-600 active:border active:border-lime-400 rounded-md duration-100 p-2"
            title="Enregister"
            type="submit"
            [disabled]="!form.valid"
            [ngClass]="form.valid ? '':'opacity-30'"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20px"
              height="20px"
              viewBox="0 -0.5 25 25"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M18.507 19.853V6.034C18.5116 5.49905 18.3034 4.98422 17.9283 4.60277C17.5532 4.22131 17.042 4.00449 16.507 4H8.50705C7.9721 4.00449 7.46085 4.22131 7.08577 4.60277C6.7107 4.98422 6.50252 5.49905 6.50705 6.034V19.853C6.45951 20.252 6.65541 20.6407 7.00441 20.8399C7.35342 21.039 7.78773 21.0099 8.10705 20.766L11.907 17.485C12.2496 17.1758 12.7705 17.1758 13.113 17.485L16.9071 20.767C17.2265 21.0111 17.6611 21.0402 18.0102 20.8407C18.3593 20.6413 18.5551 20.2522 18.507 19.853Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
            <span class="text-sm text-lime-200 font-light pr-1">Enregister</span>
          </button>
          <button class="cursor-pointer transition-all bg-blue-500 text-white px-6 py-2 rounded-lg
          border-blue-600
            border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
            active:border-b-[2px] active:brightness-90 active:translate-y-[2px]"
            type="button"
            (click)="toggleSpeech()"
          > 
            <img class="w-8 text-white" [src]="isSpeaking ? 'assets/pause.svg':'assets/play.svg'" alt="">
          </button>
          <button class="cursor-pointer transition-all bg-blue-500 text-white px-6 py-2 rounded-lg
          border-blue-600
            border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
            active:border-b-[2px] active:brightness-90 active:translate-y-[2px]"
            type="button"
            (click)="cancelSpeech()"
          >
            <img class="w-8 text-white" src="assets/stop.svg" alt="">
          </button>
        </div>
        
      </form>
      <audio controls class="play text-red-600 w-full h-10 mt-5" >
        <source [src]="audioUrl" />
      </audio>
    </div>
  </div>
</div> -->
<div class="bg-slate-300 h-screen">
  <app-header [home]="true" class=""></app-header>
  <div class="flex justify-center mt-10">
    <div class="container">
      <input type="text" class="" placeholder="Titre"
        [(ngModel)]="titre"
        [ngModelOptions]="{standalone: true}"
      >
      <div class="wrapper">
        <div class="text-input">
          <textarea spellcheck="false" class="from-text" placeholder="Enter text"
            [(ngModel)]="text"
            [ngModelOptions]="{standalone: true}"
          ></textarea>
          <textarea spellcheck="false" readonly disabled class="to-text" placeholder="Translation"
            [(ngModel)]="traduction"
            [ngModelOptions]="{standalone: true}"
          ></textarea>
        </div>
        <ul class="controls">
          <li class="row from">
            <div class="icons">
              <div class="" (click)="toggleSpeech(text, langFrom)">
                <svg fill="none" class="w-" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.114 5.636a9 9 0 010 12.728M16.463 8.288a5.25 5.25 0 010 7.424M6.75 8.25l4.72-4.72a.75.75 0 011.28.53v15.88a.75.75 0 01-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.507-1.938-1.354A9.01 9.01 0 012.25 12c0-.83.112-1.633.322-2.396C2.806 8.756 3.63 8.25 4.51 8.25H6.75z"></path>
                </svg>
              </div>
            </div>
            <select
              [(ngModel)]="langFrom"
              [ngModelOptions]="{standalone: true}"
            >
              <option *ngFor="let item of countriesArray" [value]="item.code">{{item.nom}}</option>
            </select>
          </li>
          <li class="exchange w-5 text-black" (click)="exchange()">
            <svg fill="none" stroke="currentColor" class="text-red-600" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21L3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5"></path>
            </svg>
          </li>
          <li class="row to">
            <select
            [(ngModel)]="langTo"
            [ngModelOptions]="{standalone: true}"
            >
              <option *ngFor="let item of countriesArray" [value]="item.code">{{item.nom}}</option>
            </select>
            <div class="icons">
              <div class="" (click)="toggleSpeech(traduction, langTo)">
                <svg fill="none" class="w-" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.114 5.636a9 9 0 010 12.728M16.463 8.288a5.25 5.25 0 010 7.424M6.75 8.25l4.72-4.72a.75.75 0 011.28.53v15.88a.75.75 0 01-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.507-1.938-1.354A9.01 9.01 0 012.25 12c0-.83.112-1.633.322-2.396C2.806 8.756 3.63 8.25 4.51 8.25H6.75z"></path>
                </svg>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <button class="bg-[#5372F0]" (click)="translate()">Translate Text</button>
      <button type="submit" class="bg-green-500" (click)="save()">Enregistrer</button>
    </div>
  </div>
</div>